Config { font = "FiraCode 11"
       , additionalFonts = 
            [ "Font Awesome 6 Free-Regular-400"
       		, "Font Awesome 6 Free-Solid-900"
		    ]
       , bgColor = "#282828"
       , fgColor = "#e5d5ae"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/wkl/.config/xmobar/icons/"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "KAUS" ["-t","<tempF>°F",
                                          "-L","32","-H","100",
                                          "--high","#f7768e",
                                          "--low","#7aa2f7"] 36000
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red", "-t", "<total>%"] 10
                    , Run Memory ["-t","<usedratio>%"] 10
                    , Run Com "whoami" [] "user" 36000
                    , Run Com "hostname" [] "machine" 36000
                    , Run Date "%a %b %_d %H:%M:%S" "date" 10
		    , Run StdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader%}<fc=#e0af68>%user%</fc>@<fc=#9ece6a>%machine%</fc>{  %KAUS% | <icon=tiny_microchip.xpm/> %cpu% | <icon=tiny_mem_16.xpm/> %memory% | %date%"

       }
